{% extends 'base.html' %}

{% block content %}
<main class="main main--contact">
   <dl>
      <div class="contact">
         <dt>Email:</dt>
         <dd class="contact__details">
            <a class="contact__link" href="mailto:vitalij.alex.gurin@gmail.com">
               vitalij.alex.gurin@gmail.com
            </a>
         </dd>
      </div>
      <div class="contact">
         <dt>GitHub:</dt>
         <dd class="contact__details">
            <a class="contact__link" href="https://github.com/WooDoo89">
               @WooDoo89
            </a>
         </dd>
      </div>
      <div class="contact">
         <dt>Web Page:</dt>
         <dd class="contact__details">
            <a class="contact__link" href="https://worldclown.com/">
               @WorldClownSociety
            </a>
         </dd>
      </div>
   </dl>
</main>
{% endblock %}